<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>home page hai</h1>
    // ejs tag use
    <h2><%= 2*3 %></h2>
    <h2><%= "amit".toUpperCase() %></h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum fugit eveniet nisi dolores mollitia sunt aliquam, vero harum aperiam nihil nam tempora voluptate beatae consequuntur corrupti reprehenderit in totam incidunt?</p>
     <button>click me!</button>
</body>
</html>