<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activity</title>
</head>
<body>
    <h2>Wllcome Mr. @ <%= username %></h2>

    <button>Followers</button>
    <button>Following</button>

    <h4>account thats follow you</h4>
     <% for(users of folowers) { %>
        <li><%= users %></li>

     <%}%>
</body>
</html>