<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit your chat</h1>
    <form method="post" action="/chats/<%=chatfirst._id %>?_method=PUT">
        <textarea  name="msg"><%=chatfirst.msg %></textarea>
        <button>save</button>
    </form>
</body>
</html>